body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    background-color: darkblue;
  }

.list-container {
  width: 200px;
}

li {
  color: white;
  background-color: black;
}

li:active {
  background-color: lightblue; /* Change the background color when the item is clicked */
  color: white; /* Change the text color when the item is clicked */
}

.selected {
  background-color: lightblue; /* Change the background color when the item is clicked */
  color: white; /* Change the text color when the item is clicked */
}

#comparison {
}